<html>

<header>
    <script src="https://kit.fontawesome.com/eb0f20b6c0.js" crossorigin="anonymous"></script>
    <style>
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: auto;
            height: 90%;
            white-space: nowrap;
        }
        div {
            height: 50%;
            width: 50%;
        }
        .big {
            font-size: 200pt;
        }
        .grey{
            color: #432818;
        }
    </style>
</header>

<body>
    <div class="container">
        <i class="fa-solid fa-mug-hot big grey"></i>
        <h1><br />Welcome to<br />"Cafe recommendation service"<br /></h1>
        <hr width="200">
    <a href="/swagger" class="left">Documentation</a>
    </div>
</body>
</html>